.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */

.characterImage {
  width: 30%;
  /* height: */
}

.card_card {
  background-color: antiquewhite;
  border: 2px solid black;
  width: 25%
}